.navWrapper {
  height: 75px;
  width: 100%;
  border: 1px solid black;
}

.allAppWithoutNavWrapper {
  display: grid;
}

.allAppWithoutNavContainer {
  width: 80%;
  min-width: 800px;
  border: 1px solid red;
  justify-self: center;
  padding-top: 15px;
}
